[submodule "src/main/java/cd"]
	path = src/main/java/cd
	url = https://github.com/credman0/debate-tool-core
[submodule "src/main/java/org/debatetool/core"]
	path = src/main/java/org/debatetool/core
	url = https://github.com/credman0/debate-tool-core
